@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700&display=swap');
@import "mixins.scss";

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body, .root {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  background-color: $grey-light;
}

.center {
  margin: 0 auto;
}

.highcharts-container, .highcharts-root {
  width: 100%;
  height: 100%;
}